{:deps {clj-http/clj-http {:mvn/version "3.12.1"}
        ring/ring-defaults {:mvn/version "0.3.2"}
        ring/ring {:mvn/version "1.9.0"}
        ring/ring-jetty-adapter {:mvn/version "1.9.0"}
        compojure/compojure {:mvn/version "1.6.2"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        net.mikera/imagez {:mvn/version "0.12.0"}
        thi.ng/color {:mvn/version "1.4.0"}
        thi.ng/geom {:mvn/version "1.0.0-RC4"}
        thheller/shadow-cljs {:mvn/version "2.17.8"}
        reagent/reagent {:mvn/version "1.1.1"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}}
 :aliases {:dev {:extra-paths ["dev"]}}
 :paths ["src/frontend" "src/backend" "resources"]}
